<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Создание ОКВЭДа</title>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/materialize.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="input-field col s2">
                <label for="okved-name" th:placeholder="top">Порядковый номер</label>
                <input type="text" id="okved-code" readonly/>
            </div>
            <div class="input-field col s10">
                <input type="text" id="okved-name" autocomplete="off" th:value="${okved_name}"/>
                <label for="okved-name">Введите наименование ОКВЭДа</label>
            </div>
            <div class="input-field col s12">
                <label for="description">Введите описание ОКВЭДа</label>
                <textarea class="materialize-textarea" id = "description" autocomplete="off"></textarea>
            </div>
            <div class="input-field col s2">
                <button class="waves-effect waves-light btn" type="button" id="button-create">Создать ОКВЭД</button>
            </div>
        </div>

        <div class="row">
            <div class="col s12" id="resultSynt">
                <div class="waves-effect waves-light collection-header" id = "titleSynt">Синтетические ОКВЭДы</div>
                <div class="collection" id="collectionSynt"></div>
            </div>
        </div>
    </div>

    <script>
        $().ready(function () {
            $.get('/last_synt_okved_code', function (data) {
                document.getElementById("okved-code").value = data;
                }
            );
            showSyntheticOkveds();
        })

        function showSyntheticOkveds() {
            $('#collectionSynt').empty();
            $.get('/synt_okveds', function (data) {
                data.forEach(element => {
                    var id_item = element.id;
                    let item = $('<div>', { class: 'collection-item', id: id_item});
                    let span1 = $('<span>',
                                { text: element.kindCode + ' ' + element.kindName, ondblclick: "openOkvedByDblCSpan()"})
                    item.append(span1);
                    if (element.version == 'synt') {
                        $('#collectionSynt').append(item);
                    }
                });
            })
        }

        $('#button-create').click(function () {
            if ($("#okved-name").val() != "") {
                const form = $('#form')[0];
                const data = new FormData(form);
                data.append('okved-name', $("#okved-name").val());
                data.append('description', $("#description").val());
                $.ajax({
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    url: '/create_okved',
                    data: data,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
                window.location.reload();
            }
            else {
                alert('Введите наименование ОКВЭДа.')
            }

        })

        function openOkvedByDblCSpan() {
            var okved_id = window.getSelection().anchorNode.parentElement.parentElement.id;
            window.open('/okved?id=' + okved_id);
        }

        $("#titleSynt").click(function(){
            if ($("#collectionSynt").is(":hidden")) {
                $("#collectionSynt").slideDown();
            }
            else $("#collectionSynt").hide();
        });
    </script>
</body>
</html>